<div class="box">
  <p class="txt-topic">บทเรียนออนไลน์</p>
  <div class="flex justify-content-center">
    <p-dataView [value]="cars" [paginator]="true" [rows]="6" layout="grid">
      <ng-template let-car pTemplate="gridItem">
        <div class="flex flex-row flex-grow-1 justify-content-center">
          <div class="menu-box">
            <div style="background-image: url({{car.url}}); height: 130px;  border-top-left-radius: 15px; border-top-right-radius: 15px;"></div>
            <div class="flex flex-row justify-content-center">
              <p class="txt-box">{{car.id}}</p>
            </div>
            <div class="flex justify-content-center">
              <p-chip label="เข้าสู่บทเรียน" icon="pi pi-heart" styleClass="chip"></p-chip>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
