.container {
  display: none !important;
}
::ng-deep .win1 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #FC9C0D;
  width: 100%;
  height: 100%;
}
::ng-deep .win2 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #C4C4C4;
  width: 100%;
  height: 100%;
}
::ng-deep .win3 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #B80606;
  width: 100%;
  height: 100%;
}
.score {
  font-size: 10px;
  font-weight: 200;
}

.menu {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #222;
  margin-top: 10px;
  background: #eee;
  border: 1px solid #222;
  width: 100%;
  text-align: center;
}

::ng-deep .menu-box .p-button:enabled:hover {
  color: #fff !important;
  background: #B7996C !important;
  border: 1px solid #B7996C !important;
}

@media (max-width: 1024px)
{ 
  .container { 
    margin: 5px 5px 20px 5px;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 15px;
    display: block !important;
  }
}