.container {
  display: none !important;
}
::ng-deep .win1 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #FC9C0D;
  width: 100%;
  height: 100%;
}
::ng-deep .win2 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #C4C4C4;
  width: 100%;
  height: 100%;
}
::ng-deep .win3 .p-avatar img {
  border-radius: 100%;
  border: 1.5px solid #B80606;
  width: 100%;
  height: 100%;
}
.score {
  font-size: 10px;
  font-weight: 200;
}

.menu {
  font-family: 'Sarabun';
  font-size:12px;
  color: #222 !important;
  background: #fff !important;
  border: 1px solid #222 !important;
  width: 50%;
  margin-bottom: 20px;
}
//////////////////////////////// SCREEN ////////////////////////////////
@media (max-width: 1024px)
{ 
  .container { 
    margin: 15px;
    display: block !important;
  }
}