<app-competitors-top></app-competitors-top>
<div class="flex justify-content-center flex-row-reverse flex-wrap">
  <div class="flex px-1">
    <p-carousel [value]="cars" [autoplayInterval]="3000" 
    [responsiveOptions]="cars"  [showNavigators]="false"
    [numVisible]="1" [numScroll]="1"
    >
      <ng-template let-car pTemplate="item">
        <div style="width: 155px;">
          <img src="{{car.txt}}" alt="" width="310px">
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="flex px-1">
    <img src="../../../assets/img/1.png" alt="" width="310px" height="310px">
  </div>
  
</div>

