<app-competitors-top></app-competitors-top>
<div class="card-step">
  <p-steps [model]="items" [activeIndex]="2"></p-steps>
</div>
<div class="card-predict">
  <b>คุณได้ใบที่ 1</b>
  <p>
    ใบปฐมสมจิตอธิษฐาน  จะมีผู้อุปถัมภ์แสนสำราญ  สำเร็จการที่ตรึกนึกในใจ  แต่ช้าๆจึงจะสมอารมณ์คิด  
    ด้วยเดชสัตย์สุจริตประสิทธิ์ให้  ทั้งพวกพ้องวงศ์ญาติปราศทุกข์ภัย  มีโชคชัยได้สุขทุกคืนวัน  
    แม้นถามถึงโชคร้ายในกายตัว  อีกสักหน่อยค่อยยังชั่วอย่าโศกศัลย์  ถามลูกหนี้พี่น้องต้องพบกัน  
    ไม่ช้าวันพบพักตร์เหมือนทักทาย ลาภพิเศษเจตนาเวลานี้  นานๆมีให้บ้างไม่ห่างหาย  ถามเนื้อคู่ดูดีจริงทั้งหญิงชาย  
    เหมือนชักนำทํานายเท่านี้เอย ฯ
  </p>
  <p-divider></p-divider>
  <p class="txt-ref">ที่มา วัดหนองบัว จังหวัดอุบลราชธานี</p>
</div>


