<p-avatar
image="{{ userProfile.profile }}" 
shape="circle" tooltipStyleClass="tooltip" pTooltip="บัญชี" tooltipPosition="top" (click)="listMenu()" class="pointer"></p-avatar>

<p-dialog header="บัญชีของคุณ" styleClass="listMenu" 
[breakpoints]="{'1024px': '100vw', '640px': '100vw'}" [style]="{width: '25vw'}"
[(visible)]="display" [position]="position" [draggable]="false"  [modal]="true" [dismissableMask]="true">
<div class="flex flex-column">
  <div class="flex">
    <i class="pi pi-user icon"></i>
    <span class="txt-menu">{{ userProfile.fullname }}</span>
  </div>
  <p-divider></p-divider>
  <div class="flex pointer" (click)="logout()">
    <i class="pi pi-sign-out icon"></i>
    <span class="txt-menu">ออกจากระบบ</span>
  </div>
</div>
</p-dialog>
