<p-avatar
image="https://lh3.googleusercontent.com/a-/AOh14GjhzhUxIxameWuPyEnIYOi6TzoePDZvv9T5GrP9=s96-c" 
shape="circle" (click)="listMenu()"></p-avatar>

<p-dialog header="บัญชีของคุณ" styleClass="listMenu" 
[breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '25vw'}"
[(visible)]="display" [position]="position" [draggable]="false"  [modal]="true" [dismissableMask]="true">
<div class="flex flex-column">
  <div class="flex">
    <i class="pi pi-user icon"></i>
    <span class="txt-menu">บรรเจิด เลิศภิรมย์สมฤดี</span>
  </div>
  <p-divider></p-divider>
  <div class="flex">
    <i class="pi pi-sign-out icon"></i>
    <span class="txt-menu">ออกจากระบบ</span>
  </div>
</div>
</p-dialog>
