<div class="flex flex-column align-items-center mt-7">
  <div class="flex"><img src="assets/img/logo.svg" alt="ครูผู้ช่วย.com" width="40"></div>
  <div class="flex mt-4 txt-welcome">ฉัน <i class="pi pi-heart icon-love"></i> อาชีพครู</div>
  <div class="flex mt-1 txt-detail">" มาร่วมเดินทางไปด้วยกัน "</div>
  <div class="flex flex-column mt-5">
    <a href="/">
    <div class="flex mb-2 align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Google" icon="pi pi-google" class="btn-regis p-button-rounded p-button-secondary p-button-outlined"></button>
    </div>
    <div class="flex mb-2 align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Facebook" icon="pi pi-facebook" class="btn-regis p-button-rounded p-button-secondary p-button-outlined"></button>
    </div>
    </a>
  </div>
</div>