<div class="flex flex-column align-items-center mt-8">
  <div class="flex"><img src="assets/img/logo.svg" alt="ครูผู้ช่วย.com" width="40"></div>
  <div class="flex mt-4 txt-welcome">ฉัน <i class="pi pi-heart icon-love"></i> อาชีพครู</div>
  <div class="flex mt-2 mr-2 ml-2 txt-detail text-center">" What is not started today is never finished tomorrow. "</div>
  <div class="flex txt-quote">- Johann Wolfgang von Goethe -</div>
  <div class="flex flex-column">
    <p-divider></p-divider>
    <a href="/">
    <div class="flex mb-2 align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Google" icon="pi pi-google" class="btn-regis p-button-rounded p-button-secondary p-button-outlined"></button>
    </div>
    <div class="flex mb-2 align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Facebook" icon="pi pi-facebook" class="btn-regis p-button-rounded p-button-secondary p-button-outlined"></button>
    </div>
    </a>
  </div>
</div>
