.txt-welcome {
  font-size: 37px;
  font-weight: 500;
  color: #222;
}
.txt-detail {
  font-size: 14px;
  font-weight: 300;
  color: #726C6C;
}

.txt-quote {
  font-size: 10px;
  font-weight: 300;
  color: #726C6C;
}

.icon-love {
  margin: 8px 6px 6px 6px;
  font-size: 40px;
  color: rgb(255, 145, 163);
}

::ng-deep .p-component {
  font-family:'Sarabun'
}

.btn-regis {
  width: 100%;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
}

.txt-topic-major {
  font-size: 24px;
  font-weight: 500;
}

::ng-deep .p-inputtext {
  font-family: 'Sarabun';
  font-size: 14px;
  font-weight: 300;
}

::ng-deep .p-dropdown-item {
  font-family: 'Sarabun';
  font-size: 14px;
  font-weight: 300;

  cursor: pointer;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
