<div class="container">
  <div class="flex flex-row mt-4 mb-3 justify-content-between">
    <div class="flex"> <i class="pi pi-clock box-clock"></i><span class="time">09:45</span> </div>
    <div class="flex">
      <span pTooltip="เปลี่ยนคำถาม" tooltipPosition="top" tooltipStyleClass="tooltip"><i class="pi pi-sort-alt box-icon"></i></span>
      <span pTooltip="ตัวช่วย" tooltipPosition="top" tooltipStyleClass="tooltip"><i class="pi pi-question box-icon"></i></span>
      <span pTooltip="ขยายเต็มจอ" tooltipPosition="top" tooltipStyleClass="tooltip"><i class="pi pi-window-maximize box-icon"></i></span>
    </div>
  </div>
  <p-progressBar [value]="40" [showValue]="false" [style]="{'height': '8px'}"></p-progressBar>
  <div class="flex flex-column mt-2 box-question">
    <div class="flex flex-column md:flex-row mb-3 question">
      <div class="flex mr-3 mb-3 md:mt-0 md:mb-0 justify-content-center">
        <p-card>
          <img src="https://live.staticflickr.com/65535/51423507131_d4dddee55c_m.jpg" width="200" alt="">
        </p-card>
      </div>
      <div class="flex">1. ข้อใดไม่ใช่จรรยาบรรณวิชาชีพครู ข้อใดไม่ใช่จรรยาบรรณวิชาชีพครู ข้อใดไม่ใช่จรรยาบรรณวิชาชีพครู ข้อใดไม่ใช่จรรยาบรรณวิชาชีพครูข้อใดไม่ใช่จรรยาบรรณวิชาชีพครู</div>
    </div>
    <div class="flex choice">ก. จรรยาบรรณต่อตนเอง</div>
    <p-divider></p-divider>
    <div class="flex choice">ข. จรรยาบรรณต่อวิชาชีพ</div>
    <p-divider></p-divider>
    <div class="flex choice">ค. จรรยาบรรณต่อต่อสังคม</div>
    <p-divider></p-divider>
    <div class="flex choice">ง. จรรยาบรรณต่อวินัย</div>
    <p-divider></p-divider>
  </div>
  <div class="flex flex-row justify-content-between mt-5">
    <div class="flex"><i class="pi pi-arrow-left btn-nb"></i></div>
    <div class="flex"><span class="txt-mode">โหมดแข่งขัน</span></div>
    <div class="flex"><i class="pi pi-arrow-right btn-nb"></i></div>
  </div>
</div>
