::ng-deep .p-component {
  font-family: 'Sarabun'!important;
}
.time {
  font-size: 16px;
  margin-top: 4px;
  color: #E27272;
}
.box-clock {
  background-color:#FFEAEB;
  padding: 5px;
  font-size: 12px;
  color: #E27272;
  margin: 5px 5px 5px 0px 
}
::ng-deep .p-progressbar {
  border: 0 none;
  height: 1.5rem;
  background: #dee2e6;
  border-radius: 0px; 
}
::ng-deep .p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #E27272;
}
.box-question {
  background-color: #fff;
}
.question {
  font-size: 14px;
  font-weight: 300;
  background-color: #EEEEEE;
  padding: 15px;
}
.choice {
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.choice:hover {
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  color:#E27272;
  cursor: pointer;
}
.txt-mode {
  font-size: 10px;
  font-weight: 200;
}

::ng-deep .btn-nb .p-button:enabled {
  color: #222 !important;
  background: #fff !important;
  border: 1px solid #fff !important;
}

::ng-deep .btn-nb .p-button:enabled:hover {
  color: #fff !important;
  background: #B7996C !important;
  border: 1px solid #B7996C !important;
}
::ng-deep .btn-nb .p-button:focus {
  color: #fff;
  background-color: #B7996C;
  border: 1px solid #B7996C !important;
}

::ng-deep .btn-send .p-button:enabled {
  font-family: 'Sarabun' !important;
  font-size: 14px !important;
  color: #fff !important;
  background: #222 !important;
  border: 1px solid #222 !important;
}

::ng-deep .btn-send .p-button:enabled:hover {
  font-family: 'Sarabun' !important;
  font-size: 14px !important;
  color: #fff !important;
  background: #B7996C !important;
  border: 1px solid #B7996C !important;
}
::ng-deep .btn-send .p-button:focus {
  font-family: 'Sarabun' !important;
  font-size: 14px !important;
  color: #fff;
  background-color: #B7996C;
  border: 1px solid #B7996C !important;
}

.activeAnswer {
  color: #E27272;
}

.box-icon {
  cursor: pointer;
  background-color:#EBF3FF;
  padding: 5px;
  font-size: 12px;
  color: #789CCE;
  margin: 5px 0px 5px 5px 
}

.box-icon-disabled {
  background-color:#dbdbdb;
  padding: 5px;
  font-size: 12px;
  color: #999999;
  margin: 5px 0px 5px 5px
}

.icon-check {
  font-size: 1rem;
  margin-right: 10px;
}

.box-result {
  color: #789CCE;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
}
.txt-result {
  font-size: 14px;
  font-weight: 300;
}
.txt-result-answer {
  color: #E27272;
  font-size: 14px;
  font-weight: 300;
}
.view {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 3.5px;
  padding: 5px;
}