.box-info-pink {
  margin-top: 50px;
  padding: 10px 100px 40px 100px;
  background-color: #FAF8F8;
  border-left: solid;
  border-color: #E27272;
  border-width: 5px;
}
.txt-hearder-pink {
  color:#E27272;
  font-size: 24px;
  font-weight: 600;
}
.txt-text-pink {
  font-size: 14px;
  font-weight: 200;
  color:#222;
}