<app-header></app-header>
<div class="flex container">

  <!-- Contents -->
  <div class="flex flex-grow-1">
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Right Menu -->
  <div class="flex flex-column flex-none" *ngIf="showMenu">
    <div class="right">
      <div class="flex">
        <app-menu></app-menu>
      </div>
      <div class="flex">
        <app-competitors></app-competitors>
      </div>
      <div class="flex">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  
</div>

