<app-header></app-header>
<div class="flex justify-content-center container">

  <!-- Contents -->
  <div class="flex">
    <div class="contents">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
  </div>

  <!-- Right Menu -->
  <div class="flex">
    <div class="right" *ngIf="showData">
      <div class="flex">
        <app-menu></app-menu>
      </div>
      <div class="flex">
        <app-competitors></app-competitors>
      </div>
      <div class="flex">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  
</div>

