<app-header></app-header>
<div class="flex container">

  <!-- Contents -->
  <div class="flex flex-grow-1">
    <div class="contents">
      <router-outlet></router-outlet>
      หากแต่ข้าพเจ้าต้องอธิบายต่อท่านในเหตุที่มโนคติอันความชิงชังอันหลงผิดทั้งหลาย ในการใฝ่หาและสดุดีบาดแผล ว่าบ่มเพาะขึ้นได้เยี่ยงไรและ ข้าพเจ้าจักให้สาระแห่งระบบอันครบถ้วนแด่ท่าน แลประสิทธิ์คำสอนที่แท้แห่งการแสวงหาอันยิ่งใหญ่ในความจริง ซึ่งเป็นบูรพคณาจารย์ผู้สรรสร้างความผาสุขแห่งมวลมนุษย์ ฤจะมีผู้ใดมิรับ มิชอบ หรือเลี่ยงหลีกความสุข ด้วยเพราะมันเป็นสุขก็หาไม่ ก็ด้วยเหตุเพราะมันเป็นสุข หากแต่ผู้คนเหล่านั้น ซึ่งมิรู้ในวิถีทางแสวงหาความสุข ย่อมประสบเหตุซึ่งทรมานสุดแสนโดยแน่แท้ แลจะมีผู้ใดรักใคร่ หรือแสวงหา ปรารถนาจะมีบาดแผล ด้วยเพราะมันเป็นบาดแผลก็หาไม่ ก็ด้วยเพราะมันคือความเจ็บปวด แต่ก็บ้างบางขณะก็เกิด ด้วยความเหนื่อยเหน็ดแลเจ็บปวดได้นำพาผู้คนมาซึ่งความเปี่ยมสุข อันเป็นตัวอย่างกระผีกเดียวนั้นคือ จะมีผู้ใดในหมู่เราอาสาใช้กำลังแรงกายตรากตรำ เว้นเสียแต่จะมีผลพลอยได้ในการกระทำนั้นฤ? แลผู้ใดเล่ามีสิทธิ์จะตราบาปในผู้ซึ่งเลือกจะเปรมปรีในความสุขซึ่งมิได้เป็นเหตุแห่งความเดือดร้อน หรือใครเล่าซึ่งเลี่ยงความเจ็บปวดซึ่งปราศจากการนำมาซึ่งความสุขแห่งผลลัพธ์
    </div>
  </div>

  <!-- Right Menu -->
  <div class="flex flex-column flex-none" *ngIf="showMenu">
    <div class="right">
      <div class="flex">
        <app-menu></app-menu>
      </div>
      <div class="flex">
        <app-competitors></app-competitors>
      </div>
      <div class="flex">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  
</div>

